	
.container {
	width: 100%;
}

/*菜单*/
.menu_container {
	width: 100%;
	height: 64px;
	margin-left: 24px;
	margin-right: 24px;
	/*border-bottom: 1px solid #e2e2e2;*/
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.menu_container_sub {
	width: 100%;
	height: 64px;
	margin-left: 24px;
	margin-right: 24px;
	border-bottom: 1px solid #e2e2e2;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.menu_title_spam {
	margin-left: 24px;
}

.menu_detail {
	margin-left: 12px;
}

.model_name_header {
	margin-left: 12px;
}

.content_container {
	width: 100%;
	margin-top: 24px;
	margin-bottom: 44px;
	display: flex;
	flex-direction: row;
}

/*输入内容*/
.input_container {
	width: 50%;
	margin-left: 24px;
	margin-right: 12px;
}

.input_title_span {

}

.input_textarea {
	margin-top: 12px;
	width: 100%;
	max-width: 100%;
	height: 250px;
}

.tips_span {
	margin-top: 12px;
	color: red;
}

/*输出内容*/
.output_container {
	width: 50%;
	margin-left: 12px;
	margin-right: 24px;
}

.output_item_container {
	width: 100%;
}

.output_div {
	margin-top: 12px;
	width: 100%;
	border-bottom: 1px solid #e2e2e2;
}

.output_pre {
	word-break: break-all;
}

/*文件名称*/

.file_name_input {
	margin-top: 12px;
	width: 100%;
	height: 44px;
}

.download_btn {
	margin-top: 12px;
}

