<html>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
	<link rel="stylesheet" type="text/css" href="index.css">
    <link rel="shortcut icon" href="img/favicon.ico">
	<script type="text/babel" src="lib/browser.min.js"></script>
	<script type="text/javascript" src="lib/vue.min.js"></script>
    <script type="text/javascript" src="lib/jszip.min.js"></script>
	<script type="text/javascript" src="lib/FileSaver.js"></script>
	<script type="text/javascript" src="language-config.js"></script>
	<script type="text/javascript" src="json-parse.js"></script>
	<script type="text/javascript" src="creator/Objective-c-file-creator.js"></script>
	<script type="text/javascript" src="creator/Swift-file-creator.js"></script>
	<script type="text/javascript" src="creator/Java-file-creator.js"></script>
</head>
<body>
	<div id="container" class="container">
		<div class="menu_container" >
            <span class="">当前语言</span>
            <select class="menu_detail" v-model="selectedLangueIndex" v-on:change="didSelectLangue">
                <option v-for="(item, index) in langues" v-bind:value="index">{{item}}</option>
            </select>
            <span class="menu_title_spam">前缀</span>
            <input class="menu_detail" type="text" name="model_name_header_input" placeholder="请输入前缀" v-model="modelNameHeader" v-on:input="infoChanged()">
            <span class="menu_title_spam">后缀</span>
            <input class="menu_detail" type="text" name="model_name_footer_input" placeholder="请输入后缀" v-model="modelNameFooter" v-on:input="infoChanged()">
            <span class="menu_title_spam">工程名称</span>
            <input class="menu_detail" type="text" name="project_name" placeholder="工程名称" v-model="projectName" v-on:input="infoChanged()">
            <span class="menu_title_spam">作者</span>
            <input class="menu_detail" type="text" name="project_creator" placeholder="作者" v-model="creator" v-on:input="infoChanged()">
            <span class="menu_title_spam">组织名称</span>
            <input class="menu_detail" type="text" name="project_name" placeholder="组织、企业名称" v-model="organizationName" v-on:input="infoChanged()">
		</div>  
        <div class="menu_container_sub">
            <div class="menu_container_check" id="div_propert_optionals">
            属性默认值为可选<input id="chose_propert_optionals" type="checkbox" checked ='checked' v-on:input="chosePropertyOptionals()"/>
            </div>
            <div class="menu_title_spam" id="div_inherit_type">
            继承于struct<input id="chose_model_type" type="checkbox" v-on:input="choseModelType()"/>
            </div>
            <div class="menu_title_spam" id="div_HandyJSON">
            遵守HandyJSON协议<input id="chose_HandyJSON" type="checkbox" v-on:input="choseHandyJSON()"/>
            </div>
        </div>      
		<div class="content_container">

			<div class="input_container">
				<span class="input_title_span">需要转换的JSON</span>
				<textarea class="input_textarea" placeholder="请输入json" v-model="inputJsonText"></textarea>
				<span class="tips_span">{{tipsText}}</span>
				<button v-if="modelInfoArray.length > 0" v-on:click="downloadClick" class="download_btn">下载文件</button>
			</div>
			<div class="output_container">
				<span v-if="modelInfoArray.length > 0" class="input_title_span">生成内容</span>
				<div class="output_item_container" v-for="(modelMeta, section) in modelInfoArray" v-bind:key="section">
					<input class="file_name_input" type="text" name="file_name_input" placeholder="请输入Class名称" v-model="modelMeta.className" v-on:input="classNameChanged(modelMeta)">
					<div v-for="(fileMeta, index) in modelMeta.fileHandler.filesArray" class="output_div" placeholder="生成内容预览"><pre class="output_pre">{{fileMeta.fileCompleteText}}</pre></div>
				</div>
			</div>	
		</div>
	</div>
	
	<script type="text/javascript">
		var vm = new Vue({
			el: "#container",
			data: {
				selectedLangueIndex: 0,
				langues: ['Swift', 'ObjectiveC', 'Java'],
				tipsText: "", //提示信息
				inputJsonText: "",
				modelInfoArray: [],
			},
			created: function() {
            	
        	},
        	mounted: function() {
            	
        	},
        	destroyed: function() {
            	
        	},
        	watch: {
        		inputJsonText: function (newVal, oldVal) {
        			this.reloadOutputData(newVal);
        		}
        	},
        	methods: {

        		//刷新解析数据
        		reloadOutputData: function(text) {
        			try {
        				this.tipsText = "";
        				this.modelInfoArray = [];
        				if (text != "") {
        					var json = JSON.parse(text);
        					// var propertiesText = ObjectPareToModelProperties(json);
        					WPJSONParse(json);
        				}
        			} catch (ex) {
        				this.tipsText = "解析出错 -> " + ex;
        				console.log("解析出错 -> ");
        				console.log(ex);
        			}
        		},

        		//下载点击
        		downloadClick: function() {
                    if (this.modelInfoArray.length > 0) {
                        var zip = new JSZip();
                        var modelsFolder = zip.folder("models"); //创建文件夹

                        if (usingConfigJSON.allCLassInOneFile) { //所有class在一个文件
                        	var fileArray = WPCreateFileContentForAllClass(this.modelInfoArray);
                        	for (var i in fileArray) {
                        		var fileInfo = fileArray[i];
                        		modelsFolder.file(fileInfo.fileName, fileInfo.fileContent, { type: "text/plain;charset=utf-8" });
                        	}
                        } else {
                        	for (var i = 0; i < this.modelInfoArray.length; i++) {
                            	var objInfo = this.modelInfoArray[i];
                            	for (var j = 0; j < objInfo.fileHandler.filesArray.length; j++) {
                               	 	var info = objInfo.fileHandler.filesArray[j];
                                	var fileName = info.className + "." + info.extensionName;

                                	modelsFolder.file(fileName, info.fileCompleteText, { type: "text/plain;charset=utf-8" });
                            	} 
                       		}
                        }

                        zip.generateAsync({type: "blob"}).then(function(content) {
                            // see FileSaver.js
                            saveAs(content, "models.zip");
                        });
                    }
        			
        		},

        		//修改Class名称
                classNameChanged: function(modelMeta) {
                    var className = modelMeta.className;
                    modelMeta.fileHandler.updateClassName();
                },

                //语言切换
                didSelectLangue: function(e) {
                	var selectedIndex = e.target.selectedIndex;
                	var langue = this.langues[selectedIndex];
                	if (currentLangue != langue) {
                		currentLangue = langue;
                		usingConfigJSON = LanguesConfigArray[selectedIndex];
                        selectedLangueIndex = selectedIndex
                		this.reloadOutputData(this.inputJsonText);
                	}

                    //Swift可选类型
                    propertOptionals = document.getElementById('div_propert_optionals')
                    //继承于class
                    modelType = document.getElementById('div_inherit_type')
                    div_HandyJSON = document.getElementById('div_HandyJSON')
                    if (langue == "Swift") {
                        propertOptionals.style.display="";
                        modelType.style.display="";
                        div_HandyJSON.style.display="";
                    } else {
                        propertOptionals.style.display="none";
                        modelType.style.display="none";
                        div_HandyJSON.style.display="none";
                    }
                },

                //修改前缀
                infoChanged: function() {
                    console.log(selectedLangueIndex)
                    usingConfigJSON = LanguesConfigArray[selectedLangueIndex];
                    usingConfigJSON.modelNameHeader = modelNameHeader
                    usingConfigJSON.modelNameFooter = modelNameFooter
                    usingConfigJSON.createdInfo.projectName = projectName
                    usingConfigJSON.createdInfo.creator = creator
                    usingConfigJSON.createdInfo.organizationName = organizationName
                    this.reloadOutputData(this.inputJsonText);
                },

                //Swift属性可选类型设置
                chosePropertyOptionals: function() {
                    cb = document.getElementById('chose_propert_optionals')
                    if (cb.checked) {
                        usingConfigJSON = LanguesConfigArray[selectedLangueIndex];
                        usingConfigJSON.propertyDefaultValueSetting = {};
                        this.reloadOutputData(this.inputJsonText);
                    } else {
                        usingConfigJSON = LanguesConfigArray[selectedLangueIndex];
                        usingConfigJSON.propertyDefaultValueSetting = usingConfigJSON.propertyDefaultValueSettingTemplate;
                        this.reloadOutputData(this.inputJsonText);
                    }
                },

                //Swift继承类型
                choseModelType: function() {
                    cbHandyJSON = document.getElementById('chose_HandyJSON')
                    cb = document.getElementById('chose_model_type');
                    if (cb.checked) {
                        usingConfigJSON = LanguesConfigArray[selectedLangueIndex];
                        usingConfigJSON.modelType = "struct";
                        usingConfigJSON.conformingToHandyJSON = false
                        usingConfigJSON.defaultImportText = "import UIKit"
                        usingConfigJSON.defaultParentClass = ""
                        cbHandyJSON.checked = false
                        this.reloadOutputData(this.inputJsonText);
                    } else {
                        usingConfigJSON = LanguesConfigArray[selectedLangueIndex];
                        usingConfigJSON.modelType = "class";
                        this.reloadOutputData(this.inputJsonText);
                    }
                },

                //是否遵守HandyJSON协议
                choseHandyJSON: function() {
                    cbModelType = document.getElementById('chose_model_type');
                    cb = document.getElementById('chose_HandyJSON')
                    if (cb.checked) {
                        usingConfigJSON = LanguesConfigArray[selectedLangueIndex];
                        usingConfigJSON.conformingToHandyJSON = true
                        usingConfigJSON.defaultImportText = "import HandyJSON"
                        usingConfigJSON.defaultParentClass = "NSObject"
                        usingConfigJSON.modelType = "class";
                        cbModelType.checked = false
                        this.reloadOutputData(this.inputJsonText);
                    } else {
                        usingConfigJSON = LanguesConfigArray[selectedLangueIndex];
                        usingConfigJSON.conformingToHandyJSON = false
                        usingConfigJSON.defaultImportText = "import UIKit"
                        usingConfigJSON.defaultParentClass = ""
                        this.reloadOutputData(this.inputJsonText);
                    }
                }

                
        	}
		});
	</script>
</body>
<html>
